/*
* Grid and Container Defaults
* 'base/grid/_defaults.scss'
*/

//Screen Sizes
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1440px;

//Container Sizes 
$container_small: 750px;
$container_medium: 970px;
$container_large: 84rem;

//Column and Gutter Sizes
$column: 4.25rem;
$gutter: 3rem;

