{#
# Grid Page for use in sponsorships, etc.
# 'event/sub_templates/grid_page.html'
#}

{% include 'event/partials/_event_banner.html' %}

{% include 'event/partials/_event_nav.html' %}

<!-- <div class="container page_hero standard_content">
  <h2 class="page_title">{{entry.title}}</h2>
  <p class="page_intro alternate_font">{{entry.pageIntro}}</p>
  <span class="separator"></span>
</div> -->

{% include 'modules/partials/_table_of_contents.html' %}

{% include 'modules/_loader.html' %}

{% include 'event/partials/_grid.html' %}
