/*
* Color Defaults
* base/_colors.scss
*/

//Brand Colors
$mcm_gold: #FED130;

$mcm_red: #E31B23;
$mcm_blue: #122343;

//Nav Bar
$nav_background: black;
$nav_bottom: $mcm_gold;

//Event Nav
$event_nav_background: #26282B;
$shuttle_page_items: #A7A8AA;

//Type Colors
$accent: $mcm_gold;
$link: $mcm_red;
$strong: $mcm_red;
$news: #7F7F7F;
$lightGrey: #D3D3D3;

$dark_link: #8A1A20;

//Footer
$footer_background: #26282B;

//Logos
$logoGrey: #C1C1C1;
