$content_min_height: 75vh;

$desktop_nav_height: 6rem;
$desktop_inner_nav_height: 4.5rem;
$desktop_nav_border_width: 0.25rem;
$desktop_cta_height: 6rem;

$nav_arrow_height: 1.5625rem * 1.25;
$nav_arrow_width: 0.59375rem * 1.25;