.table_of_contents_wrap + .event_schedule{
	// margin-top: widthify(1,1);
	padding: 2rem 0rem;
}
.schedule_heading{
	.schedule_heading_wrap{
		width: 100%;
		padding-bottom: $gutter;
		h4{
			@include font_size(30,36);
			@include font_scale(30,36);
			border-bottom: 3px solid $mcm_red;
			text-align: left;
		}
	}
}

	//margin-bottom: span(1);
.schedule_time{
	@include auto_margins();
	color: $mcm_red;
	font-weight: bold;
	text-align: left;
	width: widthify(10, 9);
}

.schedule_description_wrap{
	@include auto_margins();
	width: widthify(10, 9);
	.schedule_description{
		position: relative;
		&.last{
			border-left: none;
			.icon{
				left: -5px;
				@include large(){
					left: -5*100/1440+vw;
				}
			}

			p{
				padding-bottom: widthify(1, 1);
			}
		}
		.icon{
			display: none;
		}
		.schedule_description_text{
			// padding-bottom: widthify(1, 1);
		}
		p{
			margin-bottom: 0px;
			padding-bottom: $gutter;

		}
	}
}

@import 'event_schedule_desktop';
