@include small(){
	.schedule_heading{
		.schedule_heading_wrap{
			float: left;
			width: widthify(3, 2);
			h4{
				text-align: right;
			}
		}
	}
	.schedule_time{
		float: left;
		width: widthify(3,2);
		margin-left: 0rem;
		text-align: right;
	}

	.schedule_description_wrap{
		float: left;
		margin-left: widthify(1, 0);
		width: widthify(7, 6);
		.schedule_description{
			border-left: 3px solid #F3F3F3;
			padding-left: widthify(1, 1);
			.icon{
				background-image: url($down_arrows);
				background-repeat: no-repeat;
				background-position: center center;
				display: block;
				height: 30px;
				left: -8px;
				position: absolute;
				width: 14px;
				@include large(){
					height: 30*100/1440+vw;
					width: 14*100/1440+vw;
					left: -8*100/1440+vw;
				}
			}
		}
	}
}

