.brief_section{
	//margin-bottom: span(1);
	.read_more{
		color: white;
		&:hover{
			color: $link;
		}
	}

	.heading_photo{
		background-color: red;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		padding-top: 5vw;
		padding-bottom: 5vw;


		h3, h4{
			color: white;
			text-align: center;
		}
		h3{
			@include h2;
		}
		h4{
			@include h3;
		}
	}

	.container{
		position: relative;
	}

	.brief_content{
		position: relative;
		top: -3.5vw;
		//padding: 12px;
		margin-bottom: 6px;
		//height: 70.347vw - 18.95vw;
		width: 100%;

		&:before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 50%;
			background-image: url($black_texture);
			background-repeat: repeat;
			-webkit-transform: skew(0deg, 8deg);
			-moz-transform: skew(0deg, 8deg);
			-ms-transform: skew(0deg, 8deg);
			-o-transform: skew(0deg, 8deg);
			transform: skew(0deg, 8deg);

		}

		&:after{
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			width: 50%;
			background-image: url($black_texture);
			background-repeat: repeat;
			-webkit-transform: skew(0deg, -8deg);
			-moz-transform: skew(0deg, -8deg);
			-ms-transform: skew(0deg, -8deg);
			-o-transform: skew(0deg, -8deg);
			transform: skew(0deg, -8deg);
		}
	}

	.brief_content_internal{
		padding-bottom: $column * .75;
		padding-top: $column * .75;

		@include medium(){
			padding-bottom: $column * 2.5;
			padding-top: $column * 2.5;
		}

		.entry_module{

			float: left;
			margin-left: widthify(1,1);
			width: widthify(10, 9);
			margin-bottom: widthify(1, 1);
			&:last-of-type{
				margin-bottom: 0px;
			}

			h4{
				@include h3;
			}

			p, h4{
				color: white;
			}

			img{
				width: 100%;
			}
			p, h4{
				width: 100%;
			}

			@include medium(){
				margin-bottom: 0px;
				margin-left: 0rem;
				float: left;
				width: widthify(6,5);
				img{
					height: 23.3vw;
					width: 100%;
				}
				p{
					width: 100%;
				}

				&:last-of-type{
					float: right;
					width: widthify(6, 5);
				}
			}
		}
	}

	.border{
		position: absolute;
		bottom: 10px;
		left: 0px;
		height: 4px;
		width: 100%;

		&:before{
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			height:4px;
			width: 50%;
			background-color: $accent;
			-webkit-transform: skew(0deg, 8deg);
			-moz-transform: skew(0deg, 8deg);
			-ms-transform: skew(0deg, 8deg);
			-o-transform: skew(0deg, 8deg);
			transform: skew(0deg, 8deg);
		}

		&:after{
			content: '';
			position: absolute;
			bottom: 0;
			right: 0;
			height: 4px;
			width: 50%;
			background-color: $accent;
			-webkit-transform: skew(0deg, -8deg);
			-moz-transform: skew(0deg, -8deg);
			-ms-transform: skew(0deg, -8deg);
			-o-transform: skew(0deg, -8deg);
			transform: skew(0deg, -8deg);
		}
	}
}
