.section_heading{
	overflow: hidden;
	h3{
		@include h2;
		margin-bottom: $gutter;
		width: 100%;
	}

	.section_blurb{
		margin-left: auto;
		margin-right: auto;
		width: widthify(10, 9);
		text-align: center;

	}
}

@include small(){
	.section_heading{
		.section_blurb{
			margin-left: auto;
			margin-right: auto;
			width: 50%;
		}
	}
}
