{#
# Blog Entry Template
# 'blog/_entry.html'
#}

{# Load in Text Page CSS #}
{% includeCssFile craft.marathon.assetPath~'css/text_page.css' %}

{# Load in main layout to extend #}
{% extends 'base/layout' %}

{% block content %}
	
	<div class="container page_title standard_content">
		<h2>{{entry.title}}</h2>
	</div>
	
<div class="container" style="padding: 0px;">


	<div class="blog_posts">
		<div class="blog_post">
			<div class="story_heading" style = "border-bottom: 1px solid #7F7F7F; border-top: 1px solid #7F7F7F;color: #7F7F7F;font-size: 1.80556vw;line-height: 3.47222vw;height: 60px;text-transform: uppercase;">
				<p class="alternate_font col-md-6"><span class='story_date'>{{entry.postDate|date('m.d.Y')}}</span></p>

				<p class="col-md-6 pull-right" style="margin-top: -40px;">
					<span style = "color: #7F7F7F;font-size: 1.60556vw;line-height: 3.47222vw;height: 60px;text-transform: uppercase;vertical-align: top;margin-inside: 20px;">Share this Post :</span>
					{% set options = {
						'title': entry.title,
						'url': entry.url,
						'content': {
							'facebook': {
								'item-type': 'image',
								'value': 'http://img2.wikia.nocookie.net/__cb20130501121248/logopedia/images/f/fb/Facebook_icon_2013.svg',
								'class': 'fb',
								'size': {
									'width': '40px',
									'height': '40px',
									'padding-right': '10px'
								}
							},
							'twitter': {
								'item-type': 'image',
								'value': 'https://upload.wikimedia.org/wikipedia/commons/f/f3/Twitter_icon.png',
								'class': 'twitter',
								'id': 'twitter',
								'size': {
									'width': '40px',
									'height': '40px',
									'margin-left' : '10px'

								}
							}
						}
					}
					%}

					{{ jSocialButtons('facebook|twitter', options) }}
				</p>
			</div>
		</div>
	</div>

</div>
	
	{# Load in Modules #}
	{% include 'modules/partials/_table_of_contents.html' %}
	{% include 'modules/_loader' %}
	{% include 'modules/partials/sponsor_content.html' %}
	
{% endblock %}
